.treeon_title {
    background-color: #fafafa;
    padding: 10px;
    margin: 10px;
  }
  
  .table {
    border-collapse: collapse;
    border-top: 3px solid #168;
    margin: 10px;
    padding: 10px;
  }  
  
  .table th {
    color: #168;
    background: #f0f6f9;
    text-align: center;
    white-space:nowrap;
  }
  
  #contents_add{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: 100;
    font-size: 13px;
  }
  
  .menu {
    margin-top: 200px;
    padding-top: 200px;
  }