<!doctype html>
<html lang="ko">

<head>

  <!-- Webpage Title -->
  <title> Treeon ㅣ 한눈에 쏙 이직 정보</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='treeon_style.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Cute+Font|Gamja+Flower&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- 구글 폰트-->
  <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

  <script>

    $(document).ready(function () {
      $('#contents_add').html('');
      write_info();
      $('#dtBasicExample').DataTable();
      $('.dataTables_length').addClass('bs-select');
    });

    function write_info() {
      $.ajax({
        type: 'GET', // 타입을 작성합니다.
        url: '/information', // url을 작성합니다.
        data: {},
        async: false,
        // API 쓰는 코드 찾아보기 (OPEN API) append 써서 작성해보기
        success: function (response) {
          if (response['result'] == 'success') {
            let data = response['data'];
            for (let i = 0; i < data.length; i++) {
              make_list(i + 1, data[i]['title'], data[i]['position'], data[i]['name'], data[i]['region'], data[i]['enddate'], data[i]['link'])
            }
          }
        }
      });
    }

    function make_list(row, title, position, name, region, enddate, link) {
      let temp_html = '<tr class="contents_add">\
        <td class="row">'+ row + '</p>\
        <td class="title">'+ title + '</p>\
        <td class="position">'+ position + '</p>\
        <td class="name">'+ name + '</p>\
        <td class="region">'+ region + '</p>\
        <td class="enddate">'+ enddate + '</p>\
        <td class="link">'+ link + '</p>\
      </tr>';
      $('#contents_add').append(temp_html);
    }

  </script>

</head>

<body>
  <div class="wrap">
    <div class="treeon_img">
      <img src="http://garmuri.com/files/attach/images/169/748/083/9a976fd4c3eea831c7bf3062c2937d7b.jpg"
        class="img-fluid" alt="Responsive image" width="200" height="200">
    </div>
    <div class="treeon_title">
      <h2> Treeon ㅣ 한눈에 쏙 이직 정보 </h2>
    </div>

    <br></br>
    <div>
      <span style="float:right;">
        <button onclick="write_info()" type="button" class="btn btn-primary"> Update </button>
      </span>
      <caption> 한 눈에 쏙 이직 공고 리스트 </caption>
    </div>

    <!-- <table class="table" id="job_information"> -->
    <!-- 적용해야되는 테이블명-->
    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th class="th-sm" scope="col">순서</th>
          <th class="th-sm" scope="col">제목</th>
          <th class="th-sm" scope="col">직종</th>
          <th class="th-sm" scope="col">이름</th>
          <th class="th-sm" scope="col">지역</th>
          <th class="th-sm" scope="col">마감일</th>
          <th class="th-sm" scope="col">바로가기</th>
        </tr>
      </thead>
      <tbody id="contents_add">
      </tbody>
    </table>
  </div>
</body>

</html>