<!doctype html>
<html lang="ko">

<head>

  <!-- Webpage Title -->
  <title> Treeon ㅣ 한눈에 쏙 이직 정보</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- 구글 폰트-->
  <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">

  <!-- style -->
  <style>

    .wrap {
      width: 1000px;
      margin: auto;
    }

    .comment {
      color: blue;
      font-weight: bold;
    }

    .treeon_title {
      margin: auto;
      text-align: center;
    }

    .table th {
      white-space: nowrap;
      font-size: 13px;
    }

    #contents_add{
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-weight: 100;
    font-size: 13px;
    }

  </style>

  <script>

    $(document).ready(function () {
      $('#contents_add').html('');
      write_info();
    });

    function write_info() {
      $.ajax({
        type: 'GET', // 타입을 작성합니다.
        url: '/information', // url을 작성합니다.
        data: {},
        // API 쓰는 코드 찾아보기 (OPEN API) append 써서 작성해보기
        success: function (response) {
          if (response['result'] == 'success') {
            let data = response['data'];
            for (let i = 0; i < data.length; i++) {
              make_list(i + 1, data[i]['title'], data[i]['position'], data[i]['name'], data[i]['region'], data[i]['enddate'])
            }
          }
        }
      });
    }

    function make_list(row, title, position, name, region, enddate) {
      let temp_html = '<tr class="contents_add">\
        <td class="row">'+ row + '</p>\
        <td class="title">'+ title + '</p>\
        <td class="position">'+ position + '</p>\
        <td class="name">'+ name + '</p>\
        <td class="region">'+ region + '</p>\
        <td class="enddate">'+ enddate + '</p>\
      </tr>';
      $('#contents_add').append(temp_html);
    }

  </script>

</head>

<body>
  <div class="wrap">
    <div class="treeon_logo">
      <img src="http://garmuri.com/files/attach/images/169/748/083/9a976fd4c3eea831c7bf3062c2937d7b.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <div class="treeon_title">
      <h3> Treeon ㅣ 한눈에 쏙 이직 정보 </h3>
    </div>

  <span style="float:right;">
    <button onclick="write_info()" type="button" class="btn btn-primary"> 새로고침 </button>
  </span>

  <br></br>
  <caption>한 눈에 쏙 이직 공고 리스트</caption>
  <table class="table" id="job_information">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">직종</th>
        <th scope="col">이름</th>
        <th scope="col">지역</th>
        <th scope="col">마감일</th>
      </tr>
    </thead>
    <tbody id="contents_add">
    </tbody>
  </table>
</div>
</body>

</html>